
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
    font-family: Death_Stranded;
    src: url(/css/fonts/Death_Stranded.otf) format("opentype");
    font-display: swap; 
  }
  
  @font-face {
    font-family: Petrichor_Sublimey;
    src: url(/css/fonts/Petrichor_Sublimey.otf) format("opentype");
    font-display: swap; 
  }
  
  @font-face {
    font-family: Sackers_Gothic_Light_AT;
    src: url(/css/fonts/Sackers_Gothic_Light_AT.otf) format("opentype");
    font-display: swap; 
  }
  

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background-color: #000103;
}

header{
    align-content: center;
    display: flex;
    flex-direction: row;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav img{
    width: 140px;
}

.AppTitle{
    color: #BAEEEE;
    font-family: Death_Stranded;
    font-size: 2rem;
    padding: 1rem;
}

.separatorTitle{
    background-color: #BAEEEE;
    border-color: #BAEEEE;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AppSubtitle{
    color: #BAEEEE;
    font-family: Sackers_Gothic_Light_AT;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.main_options_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}

.options_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.options_container img{
    height: 300px;
    width: 300px;
    margin-bottom: 5rem;
}

.options_container input{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: solid #BAEEEE 2px;
    color: #BAEEEE;
    display: block;
    font-family: Sackers_Gothic_Light_AT;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

.options_container button{
    background-color: #216B55;
    border: #258B6A solid 3px;
    color: #BAEEEE;
    display: block;
    font-family: Sackers_Gothic_Light_AT;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

#squareOptionShow img:hover{
    content: url(../img/Geometric_forms_1_Square_hover.png);
}

#rectangleOptionShow img:hover{
    content: url(../img/Geometric_forms_2_Rectangle_hover.png);
}

#triangleOptionShow img:hover{
    content: url(../img/Geometric_forms_3_Triangle_hover.png);
}

#rhombusOptionShow img:hover{
    content: url(../img/Geometric_forms_4_Rhombus_hover.png);
}

#rhomboidOptionShow img:hover{
    content: url(../img/Geometric_forms_5_Rhomboid_hover.png);
}

#trapezoidOptionShow img:hover{
    content: url(../img/Geometric_forms_6_Trapezoid_hover.png);
}

#circleOptionShow img:hover{
    content: url(../img/Geometric_forms_7_Circle_hover.png);
}

#circleOptionShow img:active{
    content: url(../img/Geometric_forms_7_Circle_hover.png);
}



